$BackgroundColor: #EEE9E5;
$ButtonColor: #EC6907;
$TextBoksColor: #0C0C0C;
$FooterColor: #566270;
$skriftcolor: #ffffff;
$EventColor: rgba(86, 98, 112, 0.3);
$FontPrimary: ff-cocon-pro, sans-serif;
$FontSecondary: Montserrat;

