@import "css/_colors";

body {
	background-color: $BackgroundColor !important;
}

h2, h3{
  color: $ButtonColor;
}

.event-boks{
  background-color: $EventColor;
}






@media screen and (min-width: 768px) {

  .navbarContent {

    }

  }




@media screen and (min-width: 992px) {


}