@import "css/_colors";

body {
	background-color: $BackgroundColor !important;
}

h2, h3{
  color: $ButtonColor;
}

.event-boks{
  background-color: $EventColor;
}

img{
  object-fit: cover;
  height: 300px !important;
  width: inherit;
}

@media screen and (min-width: 768px) {
  img{
    height: 500px !important;
  }
}


@media screen and (min-width: 992px) {
  img{
    height: 400px !important;
  }

}