@import "css/_colors";

body {
	background-color: $BackgroundColor !important;
}

h1, h3{
  color: $ButtonColor;
  font-family: $FontPrimary;
}

.event-boks{
  background-color: $EventColor;
}

p{
  font-family: $FontSecondary;
}

@media screen and (min-width: 768px) {

  .navbarContent {

    }

  }




@media screen and (min-width: 992px) {


}