@import "css/_colors";

* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}


.AppearingSection {
  display: flex;
  align-items: center;

  .headerText {
    margin-bottom: 0;
    background: #0C0C0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: acumin-pro, sans-serif;
    justify-content: center;
  }

  p {
    font-size: 16px;
    font-family: CoconPro;
    color: $ButtonColor;
  }
}

.divKontakt {
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 5px;
  display: none;
  cursor: pointer;
  background-color: $ButtonColor;

  a {
    text-decoration: dotted;
    color: #ffffff;
    text-underline: none;
    font-size: 12px;
    font-family: Montserrat;
  }

  a:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.divph1 {
  display: none;
}


.Drikkekard {
  width: 200px;
  background-color: red;
}

.Menu-section {
  background-color: $BackgroundColor !important;
}

.MadKord {
  padding-bottom: 10px;

  h5 {
    color: $skriftcolor;
    font-family: CoconPro;
    font-weight: bold;
  }

  .card-body {
    background-color: $TextBoksColor;
    height: 400px;
  }

  p, p2 {
    color: $skriftcolor;
    font-size: 12px !important;
    font-family: Montserrat;
  }

  .mad {
    height: auto;
    width: auto;
    padding: 10px 12px 10px 12px;
  }
}

.MenuKnappen {
  background-color: #ec6907;
  border: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 13px;
  color: #f9f9f9;
  font-family: Montserrat;
  margin: 10px auto 0 auto;
  height: 35px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.TopHeaderImgMobile {
  background-image: url("../images/bckMobil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
}


.MenuBar {
  .navbar {
    background-color: $BackgroundColor;
    padding: 10px 0 10px 0;

    .LOGO1 {
      height: 60px;
      width: 100px;
    }

    .navbar-toggler-icon {
      font-size: 40px;
      filter: invert(1);
    }

    .nav-link {
      display: block;
      padding: 0.5rem 3rem;
      font-size: 20px;
      font-family: CoconPro;
      font-weight: 500;
      color: #0C0C0C !important;
    }
  }
}

.GalleryForsiden {
  > div img {
    height: auto;
    width: auto;
  }
}


.filmBCK {
  background-image: url("../images/omBar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  width: auto;
  display: flex;
  justify-content: center;

  .film {
    height: 431px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p3, p4 {
    color: $TextBoksColor;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
  }

}


@media screen and (min-width: 768px) {
  .MenuBar {
    .navbar {
      padding: 0 !important;
      background-color: $BackgroundColor;


      .LOGO1 {
        height: 60px;
        width: 100px;
      }

      .nav-link {
        font-size: 20px;
        font-family: Montserrat;

      }
    }
  }

  .AppearingSection {
    display: flex;
    align-items: center;


    p {
      font-size: 35px;
      font-family: CoconPro;
      color: $ButtonColor;
    }
  }

  .divKontakt {
    border-radius: 5px;
    padding: 10px 30px;
    display: none;


    a {
      font-size: 25px;
    }
  }

  .divph1 {
    display: none;
  }

  .TopHeaderImgMobile {
    background-image: url("../images/bckDesktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 338px;
    width: auto;
    background-position-y: 40%;
  }


  .MadKord h5 {
    font-size: 25px;
  }

  .MadKord p, .MadKord p2 {
    font-size: 15px !important;
  }
  .MadKord .card-body {
    height: 450px;
  }
  .MenuKnappen {
    font-size: 20px;
    font-weight: 500;
    height: 44px;
    width: 140px;
  }

  .filmBCK {
    background-image: url("../images/omBar.jpg");
    height: 1000px;
  }
  .filmBCK {
    background-image: url("../images/omBar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: auto;
    display: flex;
    justify-content: center;

    .film {
      height: 700px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .iframe {
      height: 500px;
      width: 300px;
    }

    p3, p4 {
      color: $TextBoksColor;
      font-size: 30px;
      font-family: Montserrat;
      font-weight: 500;
    }

  }
}


@media screen and (min-width: 992px) {

  .TopHeaderImgMobile {
    background-image: url("../images/bckDesktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 338px;
    width: auto;
    background-position-y: 60%;
  }
}


@media screen and (min-width: 1200px) {
  .MenuBar {
    .navbar {
      padding: 0 !important;
      background-color: $BackgroundColor;


      .LOGO1 {
        height: 60px;
        width: 100px;
      }

      .nav-link {
        font-size: 30px;
        font-family: Montserrat;
        border-radius: 5px !important;


      }
    }
  }

  .TopHeaderImgMobile {
    background-image: url("../images/bckDesktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    background-position-y: 75%;
    display: flex;
    justify-content: center;

    align-items: center;

  }

  .AppearingSection {
    display: flex;
    align-items: center;

    .headerText {
      margin-bottom: 0;
      background: #0C0C0C;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      justify-content: center;
    }

    p {
      font-size: 57px;
    }
  }

  .divKontakt {
    border-radius: 5px;
    padding: 10px 30px;
    display: none;

    a {
      font-size: 35px;
    }
  }

  .divph1 {
    display: none;
  }

  .MadKord h5 {
    font-size: 60px;
  }

  .MadKord p, .MadKord p2 {
    font-size: 25px !important;
  }
  .MadKord .card-body {
    height: 700px;
  }
  .MenuKnappen {
    font-size: 40px;
    font-weight: 500;
    height: 75px;
    width: 251px;
  }

  .filmBCK {
    background-image: url("../images/omBar.jpg");
    height: 700px;
  }
  .filmBCK {
    background-image: url("../images/omBar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: auto;
    display: flex;
    justify-content: center;

    .film {
      height: 700px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .iframe {
      height: 500px;
      width: 300px;
    }

    p3, p4 {
      color: $TextBoksColor;
      font-size: 30px;
      font-family: Montserrat;
      font-weight: 500;
    }

    > div {
      padding: 10px 0 0 10px;
      margin-left: 100px;
    }
  }

}

