@import "css/_colors";

* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

.GalleryForsiden {
  > div img {
    height: auto;
    width: auto;
  }
}


.TopHeaderImgMobile {
  background-image: url("../images/bckMobil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: auto;
}

.Book-bord {
  display: flex;
  justify-content: center;
  top: 43px;

  .OpacityBck {
    height: 88px;
    width: 164px;
    background-color: $TextBoksColor;

    p {
      color: $ButtonColor;
      font-size: 10px;
      font-family: $FontPrimary;
      font-weight: 400;
    }
  }

  .Book-Bord-section {

    .Book-bord-Btn {
      background-color: $ButtonColor;
      border: none;
      font-size: 10px;
      font-weight: 400;
      cursor: pointer;
      border-radius: 13px;
      color: #F9F9F9;
      padding: 6px 8px;
      font-family: Montserrat;
    }
  }
}

.MenuBar {
  .navbar {
    padding: 0 !important;
    background-color: $BackgroundColor;

    .LOGO1 {
      height: 60px;
      width: 100px;
    }

    .navbar-toggler-icon {
      font-size: 50px;
      filter: invert(1);
    }

    .nav-link {
      display: block;
      padding: 0.5rem 3rem;
      font-size: 20px;
      font-family: CoconPro;
      font-weight: 500;
      color: #0C0C0C !important;
    }
  }
}


@media screen and (min-width: 768px) {
  .MenuBar {
    .navbar {
      padding: 0 !important;
      background-color: $BackgroundColor;

      .LOGO1 {
        height: 60px;
        width: 100px;
      }

      .nav-link {
        font-size: 20px;
        font-family: Montserrat;

      }
    }
  }

  .TopHeaderImgMobile {
    background-image: url("../images/bckDesktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 338px;
    width: auto;
    background-position-y: 40%;
  }

  .Book-bord {
    display: flex;
    justify-content: center;
    top: 119px;
  }

  .Book-bord .OpacityBck {
    height: 168px;
    width: 368px;
  }
  .Book-bord .OpacityBck p {
    font-size: 25px;
    font-family: ff-cocon-pro, sans-serif;
    margin-bottom: 47px;
  }
  .Book-bord {
    .Book-Bord-section {
      .Book-bord-Btn {
        font-size: 17px;
        padding: 10px 29px;
        margin-bottom: 10px;
      }
    }
  }
}


@media screen and (min-width: 992px) {

  .TopHeaderImgMobile {
    background-image: url("../images/bckDesktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 338px;
    width: auto;
    background-position-y: 60%;
  }
}


@media screen and (min-width: 1200px) {


  .MenuBar {
    .navbar {
      padding: 0 !important;
      background-color: $BackgroundColor;

      .LOGO1 {
        height: 60px;
        width: 100px;
      }

      .nav-link {
        font-size: 30px;
        font-family: Montserrat;

      }
    }
  }
  .TopHeaderImgMobile {
    background-image: url("../images/bckDesktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    background-position-y: 75%;
  }


  .Book-bord .OpacityBck {
    height: 300px;
    width: 800px;
  }
  .Book-bord .OpacityBck p {
    font-size: 57px;
    font-family: ff-cocon-pro, sans-serif;
    margin-bottom: 47px;
  }
  .Book-bord {
    .Book-Bord-section {
      .Book-bord-Btn {
        font-size: 32px;
        padding: 23px 72px;
        margin-bottom: 10px;
      }
    }
  }
}

